@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__text/popup__text.css);
@import url(./_opened/popup_opened.css);
@import url(./__btn-close/popup__btn-close.css);
@import url(./__btn-save/popup__btn-save.css);
@import url(./__picture-container/popup__picture-container.css);
@import url(./__bottom-title/popup__bottom-title.css);
@import url(./__image/popup__image.css);
@import url(./__field/popup__field.css);
@import url(./__field/_info/popup__field_info_name.css);
@import url(./__field/_info/popup__field_info_other.css);
@import url(./__input-error/popup__input-error.css);
@import url(./__text/_type/popup__text_type_error.css);
@import url(./__btn-save/_disabled/popup__btn-save_disabled.css);
@import url(./__container/_size/popup__container_size_small.css);
@import url(./__container/_size/popup__container_size_medium.css);
@import url(./__input/popup__input.css);


.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
